extends layout

block content
  h1 All Products

  .container
    .row
      if products
        each product in products
          div.col-4.my-2
            .card
              .card-img-top.text-center.p-3
                img(src=product.imagePath style='width: 250px; height: 250px')
              .card-body
                h5.card-title #{product.name}
                .card-text
                  div 
                    | Storage Capacity 
                    span.font-weight-bold #{product.productInfo.storageCapacity} GB
                  div 
                    | Number Of SIM 
                    span.font-weight-bold #{product.productInfo.numberOfSim}
                  div
                    | Camera Resolution
                    span.font-weight-bold #{product.productInfo.cameraResolution} Pixel

                  div
                    | Display Size
                    span.font-weight-bold #{product.productInfo.displaySize} Inch

                  .d-flex.justify-content-between.align-items-center
                    div.font-weight-bold.badge.badge-info $#{product.price}
                    button.btn.btn-success Buy


